<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key ="Browser" value="Chrome"/>
		<add key ="ComputerDBURL" value="http://computer-database.gatling.io/computers"/>
		<add key ="JavaScriptAlertURL" value="https://the-internet.herokuapp.com/javascript_alerts"/>
	</appSettings>
</configuration>